@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chivo";
    font-style: black;
    font-weight: 900;
    src: local(""),
      url("../public/fonts/chivo/Chivo-Black.ttf") format("TrueType");
  }

  @font-face {
    font-family: "Commisioner";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../public/fonts/commisioner/static/Commissioner-Regular.ttf")
        format("TrueType");
  }

  @font-face {
    font-family: "Commisioner";
    font-style: medium;
    font-weight: 500;
    src: local(""),
      url("../public/fonts/commisioner/static/Commissioner-Medium.ttf")
        format("TrueType");
  }

  @font-face {
    font-family: "Commisioner";
    font-style: bold;
    font-weight: 700;
    src: local(""),
      url("../public/fonts/commisioner/static/Commissioner-Bold.ttf")
        format("TrueType");
  }
}
